.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #132A3E;
    color: #fff;
    z-index: 1;
    

}
.navbar {
    background-color: #1E4C68;
    padding: 20px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* z-index: -1; */
}
.navbar button {
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}





.tables {
    background-color: rgb(232, 232, 232);
    padding: 20px;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .contenu {
    /* display: flex; */
    height: 100vh;
    width: 100%;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sidebar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h6{
    color: grey;
   
    
    
}

.sidebar-nav li {
    padding: 10px 20px;
}

.sidebar-nav li a {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    position: relative;
  }
  
 .sidebar-nav li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Ajustez l'épaisseur de la ligne */
    background-color: #E78D1E; /* Choisissez la couleur de la ligne */
  }

.sidebar.collapsed {
    transform: translateX(-70%);
}
.sidebar-toggle img {
    width: 150px; /* Ajustez la taille de l'image selon vos besoins */
    height: 100px;
}