@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}
@keyframes background {

    from{
        transform: translatey(-300px);
        opacity: 10%;

    }
    to{
        transform: translatey(0px);
        opacity: 100%;


    }
    
}
@keyframes background1 {

  from{
      
      opacity: 0%;

  }
  to{
      
      opacity: 100%;


  }
  
  
}
@keyframes background2 {

  0%{
      
      opacity: 0;

  }
  100%{
      
      opacity: 1;


  }
}
@keyframes logo {

    from{
        transform: translatex(-300px);
        opacity: 10%;

    }
    to{
        transform: translatex(0px);
        opacity: 100%;


    }
    
    
}
.local{
  position: absolute;
  background-size: cover;
  bottom: 200px;
  right:1050px;
  opacity: 0;
  animation: logo 2s forwards; 
  animation-delay: 5.5s;
  
}
.local img{
  width: 70%;
  height: 70%;
}
.avion{
  position: absolute;
  background-size: cover;
  bottom: 165px;
  left:300px;
  /* top: 100px; */
  background-attachment:fixed;
  
 

}
.monde img{
  height: 350px;

}
.monde{
  position: absolute;
  background-size: cover;
  bottom: 65px;
  right: 920px;
  background-attachment:fixed;
  opacity: 0;
  animation: logo 2s forwards; 
  animation-delay: 4.5s;

}
.valise img{
  height: 200px;

}
.valise{
  position: absolute;
  background-size: cover;
  bottom: 65px;
  right: 700px;
  background-attachment:fixed;
  opacity: 0;
  animation: logo 2s forwards; 
  animation-delay: 3.5s;
}
.h img{
  height: 400px;
  
}
.h{
  position: absolute;
  background-size: cover;
  bottom: 65px;
  right: 800px;
  background-attachment:fixed;
  opacity: 0;
  animation: logo 2s forwards; 
  animation-delay: 3.5s;
}
.g2{
  position: absolute; 
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: logo 2s forwards ;
  animation-delay: 2s;
  opacity: 0;

}
.g3{
   position: absolute; 
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: background1 2s forwards ;
  animation-delay: 2s;
  opacity: 0;
}
.g4{
  position: absolute;
  background-size: cover;
  bottom: 65px;
  right: 500px;
  background-attachment:fixed;
  opacity: 0;
  animation: background2 2s forwards; 
  animation-delay: 3s;
  

}
html
{
    scroll-behavior: smooth;
}
header{

        top: 0;
        left: 0;
        z-index: 1000; 
    
}
body
{
    background-color:white;

}


.back1 {
  opacity: 0;
 animation: background1 2s forwards ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: url('Rectangle\ 18.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* z-index: 1; */
  /* background-attachment: fixed; */
  animation-delay: 1s;


}


.text-overlay {
  position: absolute;
  top: 120px;
  left: 800px;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  color: #1E4C68;
  font-size: 24px;
  text-align: center;
  filter: brightness(100%);
  
}
a {
    color: inherit;
    text-decoration: none;
  }
  #topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 60%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #topButton i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    height: 100%;
  }
.main {
  animation: logo 2s ease-in 0s 1 normal ;
  width:100%;
  height: 60px;
  margin-right: auto;
  position: fixed;
  z-index: 2;
  overflow: auto; 
  background-color: white;
  backdrop-filter: blur(10px);
 

}
button,
select {
  margin: 0 40px; /* Add margin to other elements for spacing */
}

.para {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Pushes items apart horizontally */
  align-items: center;
  
  /* position: fixed; */

}

.para img {
    animation: logo 2s ease-in 0s 1 normal ;

  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-right: 100px;
}

.para button,
.para select {
  margin-right: 50px;
  padding: 10px 10px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #132A3E;
  ;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;}
  



.para button:hover {
    border-bottom-color: #E08113;
    transform: translateY(-2px);
    transform: scale(1.1);
}
 .para select:hover {
    border-bottom-color: #E08113;
    transform: translateY(-2px);
    transform: scale(1.1);}
        
          
.para select option {
            color: #333;
            background-color: #fff;
            padding: 8px;
          }
          #login {
            background-color: #132A3E;
            margin-left: auto; /* Pushes the login button to the right */
            color: #EBEFFA;
            display: flex; /* Use flexbox */
            justify-content: center; /* Center content horizontally */
            align-items: center; /* Center content vertically */
            padding: 5px 30px; /* Adjust padding as needed */
            border-radius: 16px;
        }
        
#login:hover
{
    background-color:#E78D1E;
    
   
}
h1 {
    animation: logo 2s ease-in 0s 1 normal ;

  color: #13293E;
  font-family: "Poppins", sans-serif;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, #EFEFEF, #132A3E );
  padding: 20px;
  /* box-sizing: border-box; */
  margin: 0;
  position:relative;
  z-index: -1;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.nomdest{
    margin-top: 110px;
}


.propos{
    animation: logo 2s ease-in 0s 1 normal ;
    display: flex; /* Utiliser un modèle d'affichage flexbox */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; 
    background: linear-gradient(to bottom, #1E4C68 , #C8C8C8 );
    width:1349px;
    height:600px;
    position: relative;
   
}
#h{
    color: #132A3E;
    font-family: Poppins;
font-size: 31px;
font-weight: 600;
line-height: 46.5px;
text-align: left;

}
.eclipse {
    position: absolute;
    
    width: 80%;
    height: 100%;
    background-size: cover;
    /* background-position: top left; */
    z-index: 0;
    pointer-events: none;
    margin-right: 100px;
    margin-top: 50px;
}
.eclipse img{
    width: 400px; 
    height: 400px; 
}
.tunis{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
}
.tunis img{
    height:500px;
    width:auto;
}
.tooltip {
    visibility: hidden;
    font-size: 10px;
    width: 120px;
    background-color: #EAA249;
    color: #132A3E;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.vector13:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.tooltip1 {
    visibility: hidden;
    font-size: 10px;
    width: 120px;
    background-color: #EAA249;
    color: #132A3E;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.vector12:hover .tooltip1{
    visibility: visible;
    opacity: 1;
}
.tooltip2 {
    visibility: hidden;
    font-size: 10px;
    width: 120px;
    background-color: #EAA249;
    color: #132A3E;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.vector11:hover .tooltip2 {
    visibility: visible;
    opacity: 1;
}
.tooltip3 {
    visibility: hidden;
    font-size: 10px;
    width: 120px;
    background-color: #EAA249;
    color: #132A3E;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.vector10:hover .tooltip3 {
    visibility: visible;
    opacity: 1;
}
.tooltip4 {
    visibility: hidden;
    font-size: 10px;
    width: 120px;
    background-color: #EAA249;
    color: #132A3E;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.vector9:hover .tooltip4 {
    visibility: visible;
    opacity: 1;
}

.vector9 {
    z-index: 2;
    position: absolute; 
    top: 344px; 
    right: 72px;   
 }
 .vector9 img{
     width:65px;
     height: 59px;
     opacity: 0;
     transition:all transform 1s ease;
 }
 .vector9 img:hover{
 opacity: 1;
 transform: scale(1);
 }
.vector10 {
    z-index: 2;
    position: absolute; 
    top: 225px; 
    right: 80px;   
 }
 .vector10 img{
     width:85px;
     height: 87px;
     opacity: 0;
     transition:all transform 1s ease;
 }
 .vector10 img:hover{
 opacity: 1;
 transform: scale(1);
 }
.vector11 {
    z-index: 2;
    position: absolute; 
    top: 113px; 
    right: 75px;   
 }
 .vector11 img{
     width:54px;
     height: 56px;
     opacity: 0;
     transition:all transform 1s ease;
 }
 .vector11 img:hover{
 opacity: 1;
 transform: scale(1);
 }
.vector12 {
   z-index: 2;
   position: absolute; 
   top: 93px; 
   right: 125px;   
}
.vector12 img{
    width:75px;
    height: 41px;
    opacity: 0;
    transition:all transform 1s ease;
}
.vector12 img:hover{
opacity: 1;
transform: scale(1);
}
.vector13 {
    z-index: 2;
    position: absolute; 
    top: 270px; 
    right: 214px;   
 }
 .vector13 img{
     width:80px;
     height: 90px;
     opacity: 0;
     transition:all transform 1s ease;
 }
 .vector13 img:hover{
 opacity: 1;
 transform: scale(1);
 }

.boxtunis{
    width:600px; 
    height: 500px; 
    background-color: #D9D9D9; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    border-radius: 16px;
    padding-left: 50px;
    padding-right: 50px; 
    position: relative;
    z-index: 1; 
}
#p1{
    font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 28.5px;
text-align: left;
color: #1E4C68;


}
.partie-gauche {
    display: inline-block;
    width: 50%; /* Moitié de la largeur */
    float: left;
    color: #767676;
}

.partie-droite {
    display: inline-block;
    width: 50%; /* Moitié de la largeur */
    float: right;
    color: #767676;
}
.list ul {
    list-style-type: none; 
    padding: 0; 

}
.list li{
    padding-top: 10px;

}
.list li::before {
    content: "\2713"; /* Unicode character for a check mark */
    display: inline-block;
    width: 1em; /* Adjust the width of the check mark as needed */
    margin-right: 0.5em; /* Add spacing between the check mark and the text */
    color: #E78D1E;
}
.chifp{
    position: absolute;
    width: 100%;
    height:80%;
    background-image: url(https://www.acs-ami.com/fr/blog/wp-content/uploads/2012/07/etudier-a-l-etranger-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    background-attachment: fixed;
}
#contact{
    color: #1E4C68;
    position: relative;
    top:100px;
}
.contenaire1{
    animation: logo 2s ease-in 0s 1 normal ;
    width:1349px;
    height:500px;
    display: flex;
    justify-content: top; 
    align-items: center; 
    
}

.services1{
    background-color:#EFEFEF;
    width: 674px;
    height:100%;
    text-align: center;
    position: relative; /* Make the parent container position relative */  
    /* position: relative; */
}
.services1:hover{
    background: #1E4C68;


}
.services1:hover #contact,
.services1:hover #prise {
    background: #1E4C68;
    color: white;

}
.doora {
    width: 61px;
    height: 61px; 
    top: 20px; /* Adjust as needed */
    left: 45%; /* Center horizontally */
    position: absolute; /* Position the doora element absolutely */
    gap: 0px;
    border-radius: 50%; 
    opacity: 0px;
    background: #EAA34B;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* position: relative; */
}


.doora img {
    width: 40px; /* Adjust image width as needed */
    height: 40px; /* Adjust image height as needed */
    
}

.ph1{
    /* background-color: #13293E; */
    width:674px;
    height:100%; 
    position: relative;
    background-image: url("Rectangle 42.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
}
.contenaire2{
    animation: logo 2s ease-in 0s 1 normal ;
    width:1349px;
    height:500px;
    display: flex;
    justify-content: top; 
    align-items: center; 
}
.services2{
    background-color: #13293E;
    width:674px;
    height:100%; 
    position: relative;
    background-image: url("Rectangle 41.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.ph2{
    background-color:#EFEFEF;
    width: 674px;
    height:100%;
    text-align: center;
    position: relative;
   
}
.ph2:hover{
    background: #1E4C68;


}
.ph2:hover #contact,
.ph2:hover #prise {
    background: #1E4C68;
    color: white;

}
.doora1 {
    width: 61px;
    height: 61px; 
    top: 20px; /* Adjust as needed */
    left: 45%; /* Center horizontally */
    position: absolute; /* Position the doora element absolutely */
    gap: 0px;
    border-radius: 50%; 
    opacity: 0px;
    background: #EAA34B;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* position: relative; */
}
.contenaire3{
    animation: logo 2s ease-in 0s 1 normal ;
    width:1349px;
    height:500px;
    display: flex;
    justify-content: top; 
    align-items: center; 
}
.services3{
    background-color:#EFEFEF;
    width: 674px;
    height:100%;
    text-align: center;
    position: relative; /* Make the parent container position relative */  
    /* position: relative; */
}
.services3 ul{
    position: absolute;
    top:400px;

}
.ph3{
    width:674px;
    height:100%; 
    position: relative;
   background-image: url("Rectangle 44.png");
    background-size: cover;
    background-repeat: no-repeat;
 
}
.services3:hover{
    background: #1E4C68;
}
.services3:hover #contact,
.services3:hover #prise{
    background: #1E4C68;
    color: white;

}
.services3 :hover  li
{
    color: white;
}

.doora2 {
    width: 61px;
    height: 61px; 
    top: 20px; /* Adjust as needed */
    left: 45%; /* Center horizontally */
    position: absolute; /* Position the doora element absolutely */
    gap: 0px;
    border-radius: 50%; 
    opacity: 0px;
    background: #EAA34B;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* position: relative; */
}
.services4{
    background-color: #13293E;
    width:674px;
    height:100%; 
    position: relative;
    background-image: url("Rectangle 43.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.contenaire4{
    animation: logo 2s ease-in 0s 1 normal ;
    width:1349px;
    height:500px;
    display: flex;
    justify-content: top; 
    align-items: center; 
}
.ph4{
    background-color:#EFEFEF;
    width: 674px;
    height:100%;
    text-align: center;
    position: relative;
   
}
.ph4:hover{
    background: #1E4C68;


}
.ph4:hover #contact,
.ph4:hover #prise {
    background: #1E4C68;
    color: white;

}
.contenaire5{
    animation: logo 2s ease-in 0s 1 normal ;
    width:1349px;
    height:500px;
    display: flex;
    justify-content: top; 
    align-items: center; 
}
.services5{
    background-color:#EFEFEF;
    width: 674px;
    height:100%;
    text-align: center;
    position: relative; /* Make the parent container position relative */  
    /* position: relative; */
}
.ph5{
    width:674px;
    height:100%; 
    position: relative;
   background-image: url("Rectangle 60.png");
    background-size: cover;
    background-repeat: no-repeat;
 
}
.services5:hover{
    background: #1E4C68;


}
.services5:hover #contact,
.services5:hover #prise {
    background: #1E4C68;
    color: white;

}
.services6{
    background-color: #13293E;
    width:674px;
    height:100%; 
    position: relative;
    background-image: url("Rectangle 59.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.contenaire6{
    animation: logo 2s ease-in 0s 1 normal ;
    width:1349px;
    height:500px;
    display: flex;
    justify-content: top; 
    align-items: center; 
}
.ph6{
    background-color:#EFEFEF;
    width: 674px;
    height:100%;
    text-align: center;
    position: relative;
   
}
.ph6:hover{
    background: #1E4C68;


}
.ph6:hover #contact,
.ph6:hover #prise {
    background: #1E4C68;
    color: white;

}
.container {
    animation: logo 2s ease-in 0s 1 normal ;

  position: relative;
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 800px;
  height: 500px;
  transition: all 400ms;
  background-attachment: fixed;
  
}

.box {
    position: relative; 
  }
  
  .box::before {
    content: attr(data-text1); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #132A3E57;
    color: white; 
    padding: 30px; 
    font-size: 16px; 
    opacity: 0; 
    transition: opacity 0,3s; 
    white-space: pre-wrap; /* Le texte peut revenir à la ligne automatiquement */
}
  
  .box:hover::before {
    opacity: 1; 
  }
  
.dest{
    width: auto;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: #132A3E;
    height: 500px;
}




.container:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.box {
    animation: logo 2s ease-in 0s 1 normal ;

  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even) {
  transform: translateY(16px);
}

.box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #E78D1E;
  color:#132A3E;
  padding: 10px 10px 10px 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 300ms;
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 300ms;
}

#c{
    color: #13293E;
    font-family: "Poppins", sans-serif;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom,#AECFEB, #EFEFEF );
    padding: 30px;
    /* box-sizing: border-box; */
    margin: 0;
    position:relative;
    z-index: -1;
    letter-spacing: 4px;
    text-transform: uppercase;

}
#prise{
    font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #132A3E;
position: relative;
top: 200px;
padding-left: 20px;
padding-right: 20px;

}
.foufou{
    width:1349px;
    height:631px;
    background-color:#132A3E;
    /* position: relative; */
    display: flex;
    align-items: center; 
}
.cadre1{
    width:337.25px;
    height:100%;
    background-color:#132A3E;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 

}
.cadre1 p{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: white;
position: absolute;
top:313px;
left:45px;
}
.cadre1 h3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: white;
    position: absolute;
    top:450px;
    left:45px;
    
}
.cadre1 .icon{
    text-align: left;
    position: absolute;
    top:500px;
    left:45px;
}
.icon .fa-brands{
    font-size: 40px;
    color: white;
    margin-right: 30px; /* Adjust the value to set the desired gap */

}
.icon .fa-brands:hover{
    
    color: #E78D1E;
    transform: scale(1.1);
}
.taswira {
   
    top:133px;
    left:60px;
    position: absolute; /* Position the doora element absolutely */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* position: relative; */
}

.cadre2{
    width:337.25px;
    height:100%;
    background-color:#132A3E;
    position: relative;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 

}
.cadre2 h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: white;
    position: absolute;
    top:200px;
    left:60px;
    
}
.cadre2 ul{
    position: absolute;
    top:250px;
    left:60px;
    list-style-type: none; 
    padding: 0; 
    
}
.cadre2 li::before {
    content: "\2605"; /* Ballot X */
    display: inline-block;
    width: 1em; /* Adjust the width of the check mark as needed */
    margin-right: 0.5em; /* Add spacing between the check mark and the text */
    color: #E78D1E;
}
.cadre2 li{
    padding-top: 37px; 
    color: white;  

}
.cadre3{
    width:337.25px;
    height:100%;
    background-color:#132A3E;
    position:relative;

}
.cadre3 h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: white;
    position: absolute;
    top:200px;
    left:60px;
    
}
.cadre3 ul{
    position: absolute;
    top:250px;
    left:60px;
    list-style-type: none; 
    padding: 0; 
    
}
.cadre3 li::before {
    content: "\2605"; /* Ballot X */
    display: inline-block;
    width: 1em; /* Adjust the width of the check mark as needed */
    margin-right: 0.5em; /* Add spacing between the check mark and the text */
    color: #E78D1E;
}
.cadre3 li{
    padding-top: 27.5px; 
    color: white;  

}
.cadre4{
    width:337.25px;
    height:100%;
    background-color:#132A3E;
    position: relative;

}
.cadre4 h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: white;
    position: absolute;
    top:200px;
    left:60px;
    
}
.cadre4 ul{
    position: absolute;
    top:250px;
    left:60px;
    list-style-type: none; 
    padding: 0; 
    
}
.cadre4 li::before {
    display: inline-block;
    width: 1em; /* Adjust the width of the check mark as needed */
    margin-right: 0.5em; /* Add spacing between the check mark and the text */
    color: #E78D1E;
}
.cadre4 .adres li::before 
{
    content: "\1F4CD"; 



}
.cadre4 .tel li::before 
{
    content: "\260E"; 

}
.cadre4 .mail li::before 
{
    content: "\2709"; 

}
.cadre4 li{
    padding-top: 50.5px; 
    color: white;  
    

}
.voir{
    width: 100px;
    height: 50px;
    gap: 0px;
    border: 0px;
    border-radius: 16px;
    opacity: 0px;
    background-color: #E78D1E;
    /* position: absolute; */
    margin-top: 20px;
    color: white;
    
    
}
.voir::after {
    content: "\25BC";
    margin-left: 5px;
    color: white; /* Changer la couleur ici */
  }
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
   
    width:10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; /* color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #E78D1E; /* color of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #132A3E; /* color of the handle when hovered */
  }


